<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
<div class="row">
    <div class="col justify-content-center">
        <div>
            <h1>
                Profile
            </h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <img src="{{user.image}}" width="150" height="150"  alt="your image" id="img">
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2>User type: <i>{{user.role}}</i></h2>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2>User status: <i>{{user.status}}</i></h2>
            </div>
        </div>
    </div>
    <div class="col justify-content-center">
        <form >
            <div class="field">
                <label for="exampleInputUsername" class="label">Username</label>
                <input [(ngModel)]="user.username" type="text" name="username" class="input" id="exampleInputUsername" aria-describedby="emailHelp" placeholder="Username">
            </div>
            <div class="field">
                <label for="name" class="label">Name</label>
                <input [(ngModel)]="user.name" type="text" name="name" class="input" id="name" aria-describedby="emailHelp" placeholder="Name">
            </div>
            <div class="field">
                <label for="surname" class="label">Surname</label>
                <input [(ngModel)]="user.surname" type="text" name="surname" class="input" id="surname" aria-describedby="emailHelp" placeholder="Surname">
            </div>
            <div class="field">
                <label for="exampleInputEmail1" class="label">Email address</label>
                <input [(ngModel)]="user.email" disabled type="email" name="email" class="input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
        </form>
        </div>
        <div class="col d-flex justify-content-center">
            <form>
            <div class="field">
                <label for="address" class="label">Address</label>
                <input [(ngModel)]="user.address" type="text" name="address" class="input" id="address" aria-describedby="emailHelp" placeholder="Address">
            </div>
            <div class="field">
                <label for="date" class="label">Date of birth</label>
                <input [ngModel]="user.dateOfBirth | date:'yyyy-MM-dd'" type="date" name="date" class="input" id="date" (input)="setDate($event)"/>
            </div>
            <div class="field">
                <label for="exampleInputPassword1" class="label">New password</label>
                <input [(ngModel)]="password" type="password" name="password" class="input" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="field">
                <label for="exampleInputPassword" class="label">Confirm new password</label>
                <input [(ngModel)]="confirmPassword" type="password" name="password" class="input" id="exampleInputPassword" placeholder="Confirm password">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="text-center mb-3">
            <button type="submit" class="button is-primary" (click)="update()">Save</button>
        </div>
    </div>
</div>
</div>