<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
<div class="row">
    <div class="col justify-content-center">
        <h1>
            Add article
        </h1>
    </div>
</div>
<div class="row">
    <div class="col justify-content-center">
        <form >
            <div class="field">
                <label for="name" class="label">Name</label>
                <input [(ngModel)]="name" type="text" name="name" class="input" id="name"/>
            </div>
            <div class="field">
                <label for="price" class="label">Price (din)</label>
                <input [(ngModel)]="price" type="number" name="price" class="input" id="price"/>
            </div>
            <div class="field">
                <label for="ingredients" class="label">Ingredients</label>
                <input [(ngModel)]="ingredients" type="text" name="ingredients" class="input" id="ingredients"/>
            </div>
            <div class="row">
                <div class="col">
                    <div class="text-center mb-3">
                        <button type="submit" class="button is-primary" (click)="save()">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>